
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build files
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/dev.db
prisma/dev.db-journal
# Potentially prisma/generated-client if you don't want to commit it,
# but it's often included. For Docker builds, it's generated in the image.

# Turborepo
.turbo

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Docker specific (if you don't want them in repo, but usually they are)
# Dockerfile
# .dockerignore
# docker-compose.yml
# production.env
